<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2><%= @article.title %></h2>

      <% if @article.favorited_by?(current_user) %>
        <%= link_to article_favorites_path(@article.id), method: :delete do %>
          <i class="far fa-heart like-btn"></i>
        <% end %>
      <% else %>
        <%= link_to article_favorites_path(@article.id), method: :post do %>
          <i class="fas fa-heart unlike-btn"></i>
        <% end %>
        <%= @article.favorites.count %>
      <% end %>

      <% if current_user.id == @user.id %>
        <%= link_to "投稿を削除する", article_path(@user.id), method: :delete, class: "text-right" %>
      <% end %>
      <hr>
      <p>ユーザ: <%= link_to @user.username, user_path(@user.id) %></p>

      <% if @user.id != current_user.id %>
        <% if @user.followed_by?(current_user) %>
          <p><%= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete, class: "text-muted" %></p> 
        <% else %>
          <p><%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "text-muted" %></p>
        <% end %>
      <% end %>

      <%= @article.body %>
    </div>
  </div>
</div>